$primary-color: #141c30;
$secondary-color: #1f2a48;
body {
  background-color: $primary-color;
}

a {
  text-decoration: none;
  &:hover {
    border: none;
    text-decoration: none;
    border-color: none;
  }
}
* {
  font-family: 'Roboto Slab', serif !important;
  font-style: normal;
}
